h1 修改留言

= simple_form_for(@comment, url: photo_comment_path, :method => :put, html: {class: 'form-horizontal center' }) do |f|
  = render :partial => 'form', :locals => { :f => f }

= link_to '留言內容', photo_comment_path(@photo, @comment), class: "btn"
= link_to 'Back', photo_comments_path(@photo), class: "btn"
